@font-face {
  font-family: 'Hey August';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 400;
  src: local('Hey August'), url(/fonts/HeyAugust.woff2) format('woff2');
}

@font-face {
  font-family: 'Fabrik';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 400;
  src: local('Fabrik'), url(/fonts/Fabrik.woff2) format('woff2');
}
